* {
    margin: 0;
    padding: 0;
}

nav {
    color: white;
    background-color: red;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
